:root {
  --bgc-body: #f3f3ff;
  --color-body: #444;
  --bgc-alfa04: rgba(255, 255, 255, 0.4);
  --bgc-alfa06: rgba(255, 255, 255, 0.6);
  --bgc-alfa08: rgba(255, 255, 255, 0.8);
  --minus-bg: linear-gradient(to top left, #e52a84, #ff585f);
  --plus-bg: linear-gradient(to top left, #39b385, #74f900fb);
  --transfer-bg: linear-gradient(to top left, #e0de69, #ffcb03);
  --dark: #333;
  --green: #66c873;
  --red: #f5465d;
  --grey: #666;
  --light-grey: #888;
  --extra-light-grey: #bbb;
  --border-btm: 1px solid #eee;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--color-body);
  background-color: var(--bgc-body);
  height: 100vh;
  padding: 2rem;
  font-family: 'Bitter', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--dark);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
  margin-right: 10px;
}

.logo {
  height: 5.25rem;
}

.login {
  display: flex;
}

.login__input {
  border: none;
  padding: 0;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: var(--border-btm);
}
.login__input::placeholder {
  color: var(--extra-light-grey);
}

.login__btn {
  padding: 10px;
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn-sort:hover,
.btn-sort:focus {
  outline: none;
  color: var(--light-grey);
}

.app {
  position: relative;
  min-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
  /* * Вот тут все исчезает */
  opacity: 0;
  transition: all 1s;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: var(--light-grey);
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
  margin-left: 50px;
}

.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: var(--border-btm);
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--grey);
}

.movements__type-deposit {
  background-image: var(--plus-bg);
}

.movements__type-withdrawal {
  background-image: var(--minus-bg);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value-in,
.summary__value-interest {
  color: var(--green);
}

.summary__value-out {
  color: var(--red);
}

.btn-sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: var(--dark);
}

.operation-transfer {
  background-image: var(--transfer-bg);
}

.operation-loan {
  background-image: var(--plus-bg);
}

.operation-close {
  background-image: var(--minus-bg);
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

.form.form-loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label-loan {
  grid-row: 2;
}

.form__input {
  width: 100%;
  border: none;
  background-color: var(--bgc-alfa04);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: var(--dark);
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: var(--bgc-alfa06);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: var(--bgc-alfa08);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}
